#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.note-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 0 21%;
  max-width: 25%;
  min-width: 150px;
  box-sizing: border-box;
  text-align: start;
}

.note-item p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.note-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.first {
  color: orange;
}

.seccond {
  color: blue;
}

.note-form {
  width: 100%;
  gap: 5px;
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.border {
  display: flex;
  justify-content: center;
}

.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.date {
  color:#888;
}